body {
    width: 96vw;
    height: 95vh;
    text-align: center;
}

#header {
    margin-left: 3vw;
    width: 90vw;
    height: 10vh;
}

#search, #sortOptions, #genNames {
    margin: 1vh 1vw;
}

#nameList {
    width: 92vw;
    height: 70vh;
    overflow: scroll;
    margin: 0px 3vw;
}

    #nameList div {
        display: inline-block;
        width: 96%;
        background-color: transparent;
        color: black;
        padding: 4px;
    }

        #nameList div p {
            display: inline-block;
        }

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.name {
    font-size: x-large;
}

.gender, .region {
    font-size: medium;
}

.male {
    color: dodgerblue;
}

.female {
    color: palevioletred;
}